# API URL - Reemplaza con tu URL de backend real en producción
REACT_APP_API_URL=http://localhost:5000/api

# Información del botón de WhatsApp
REACT_APP_CONTACT_PHONE=18299698254
REACT_APP_DEFAULT_WHATSAPP_MESSAGE=Hola, vi tu portafolio y me gustaria hablar contigo

# Optimizaciones para producción
GENERATE_SOURCEMAP=false
